<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937244764980-lnqqq0bu7f7hhuqbvoac7e8q1gkqdnba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937244764980-lnqqq0bu7f7hhuqbvoac7e8q1gkqdnba</string>
	<key>API_KEY</key>
	<string>AIzaSyAZVv4PfFqAOV1TCk1gSNxuuP98IkC-CyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>937244764980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contentAi</string>
	<key>PROJECT_ID</key>
	<string>coco-contentstrategist-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>coco-contentstrategist-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937244764980:ios:741d60b7faff949552d361</string>
</dict>
</plist>